<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h3 class="table-secondary text-center">適正人数名称一覧</h3>
    </div>
    <div class="col-md-7"></div>
  </div>

  <%= form_with model: @people, url:admin_peoples_path do |f| %>
  <div class="row justify-content-center mt-4">
    <div class="col-md-9">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>適正人数の名称</th>
            <td>
              <%= f.text_field :name %>
            </td>
            <td>
              <%= f.submit "新規登録", class: 'btn btn-sm btn-success' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <div class="row justify-content-center mt-3">
    <div class="col-md-10">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @peoples.each do |people| %>
          <tr>
            <td>
              <%= people.id %>
            </td>
            <td>
              <%= people.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_admin_people_path(people.id), class: 'btn btn-sm btn-success' %>
              <%= link_to "削除する", admin_people_path(people.id), method: :delete, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>