<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2 text-center pt-3 px-sm-0">
      <h3>商品一覧</h3>
    </div>
    <div class="col-sm-10 pt-4 px-sm-0">
      <h5>
        (全<%= @size.items.count %>件)
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 border">
      <strong>カテゴリー検索</strong>
    </div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    <div class="col-md-2 border">
      <ul class="list-unstyled">
        <li><%= link_to "種別", genres_path %></li>
        <li><%= link_to "容量やサイズなど", sizes_path %></li>
        <li><%= link_to "適正人数", peoples_path %></li>
        <li><%= link_to "メーカー", makers_path %></li>
      </ul>
    </div>
    <% @size.items.each do |item| %>
    <div class="col-md-2">
      <div class="card border-0">
        <%= link_to item_path(item.id) do %>
          <p class="card-img-top"><%= image_tag item.image, size: "150x150" %></p>
        <% end %>
      </div>
      <div class="card-body text-center pt-0 pb-0">
        <strong class="item-details item-name card-title">
          <%= item.name %>
        </strong>
      </div>
      <p class="item-details text-center">
        <i class="far fa-heart" style="color: #f21ceb;"></i><%= item.favorites.count %>件　<i class="far fa-comment" style="color: #3cb4d3;"></i><%= item.reviews.count %>件
      </p>
    </div>
    <% end %>
    <div>
      <%= paginate @items %>
    </div>
  </div>
</div>