<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h3 class="table-secondary text-center">レビュー履歴一覧</h3>
    </div>
    <div class="col-md-9"></div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-10">
      <table class="table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="col-md-2">投稿日時</br>(いいね・コメント)</th>
            <th class="col-md-8">投稿内容</th>
          </tr>
        </thead>
      <% @reviews.each do |review| %>
        <tbody>
          <tr>
            <td class="text-center">
              <%= review.created_at.strftime('%Y/%m/%d') %></br>
              <%= link_to item_path(review.item.id) do %>
                <%= review.item.name %></br>
              <% end %>
              <i class="far fa-heart" style="color: #f21ceb;"></i><%= review.r_favorites.count %>件　<i class="far fa-comment" style="color: #3cb4d3;"></i><%= review.comments.count %>件
            </td>
            <td class="pl-2">
              <%= review.body %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>