<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h3 class="table-secondary text-center">メーカー名一覧</h3>
    </div>
    <div class="col-md-7"></div>
  </div>

  <%= form_with model: @maker, url:admin_makers_path do |f| %>
  <div class="row justify-content-center mt-4">
    <div class="col-md-9">
      <% if @maker.errors.any? %>
        <font color="red">※未入力です。入力してから再度登録ボタンを押下してください。</font>
      <% end %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>メーカー名</th>
            <td>
              <%= f.text_field :name %>
            </td>
            <td>
              <%= f.submit "新規登録", class: 'btn btn-sm btn-success' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <div class="row justify-content-center mt-3">
    <div class="col-md-10">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @makers.each do |maker| %>
          <tr>
            <td>
              <%= maker.id %>
            </td>
            <td>
              <%= link_to maker.name, admin_maker_path(maker.id) %>
            </td>
            <td>
              <%= link_to "編集する", edit_admin_maker_path(maker.id), class: 'btn btn-sm btn-success' %>
              <%= link_to "削除する", admin_maker_path(maker.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>