<div class="container mt-5">
  <div class="row">
    <div class="col-md-2 border">
      <strong>カテゴリー検索</strong>
    </div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    <div class="col-md-2 border">
      <ul class="list-unstyled">
        <li><%= link_to "種別", genres_path %></li>
        <li><%= link_to "容量やサイズなど", sizes_path %></li>
        <li><%= link_to "適正人数", peoples_path %></li>
        <li><%= link_to "メーカー", makers_path %></li>
      </ul>
    </div>

    <div class="col-md-4">
      <p><%= image_tag @item.image, size: "300x300" %></p>
    </div>
    <div class="col-md-4">
      <h1><strong><%= @item.name %></strong></h1>

      <% if user_signed_in? %>
        <% if @item.favorited_by?(current_user) %>
          <p>
            <%= link_to item_favorites_path(@item), method: :delete do %>
              ♥<%= @item.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to item_favorites_path(@item), method: :post do %>
              ♡<%= @item.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
      <% else %>
        <p>
          ♡<%= @item.favorites.count %> いいね
        </p>
      <% end %>


      <div>
        <strong>
          <% @item.genres.each do |genre| %>
            <%= genre.name %>
          <% end %>
        </strong>
      </div>
      <div>
        <strong>
          <% @item.sizes.each do |size| %>
            <%= size.name %>
          <% end %>
        </strong>
      </div>
      <div>
        <strong>
          <% @item.peoples.each do |people| %>
            <%= people.name %>
          <% end %>
        </strong>
      </div>
      <div>
        <strong>
          <% @item.makers.each do |maker| %>
            <%= maker.name %>
          <% end %>
        </strong>
      </div>
      <div class="mt-5">
        <%= @item.introduction %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2">
      <div class="table-secondary text-center mb-1">
        <strong>レビュー投稿</strong>
      </div>
      <% if user_signed_in? %>
        <%= form_with model: [@item, @review] do |f| %>
          <div>
            <%= f.text_area :body %>
          </div>
          <div>
            <%= f.submit "新規登録" %>
          </div>
        <% end %>
      <% else %>
        <div class="table-bordered">会員登録することでレビューの投稿をすることができます。</div>
      <% end %>
    </div>

    <div class="col-md-10">
      <div class="col-md-3 table-secondary text-center mb-3">
        <strong>レビュー一覧</strong> (<%= @item.reviews.count %>件)
      </div>
      <% @item.reviews.each do |review| %>
        <p class="ml-3 mb-0"><%= review.created_at.strftime('%Y/%m/%d') %></p>
        <table class="mb-3">
          <tbody>
            <tr>
              <td class="col-md-2 table-bordered pr-0">
                <%= review.user.user_name %></br>
                <%= review.user.age %>歳 <%= review.user.gender_i18n %> <%= review.user.family %>
              </td>
              <td class="col-md-6 table-bordered">
                <%= review.body %>
              </td>
              <td class="col-md-2">
                <%= link_to "詳細", item_review_path(review.id), class: 'btn btn-sm btn-primary' %>
                <% if review.user == current_user %>
                  <%= link_to "削除する", item_review_path(review.id), method: :delete, class: 'btn btn-sm btn-danger' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>